# Auto detect text files and perform LF normalization
* text=auto

# WeiDU/IE
*.tp2 text
*.tpa text
*.tpp text
*.tph text
*.tra text
*.2da text
*.baf text
*.d   text
*.ids text
*.bam binary
*.plt binary
*.mos binary
*.vvc binary
*.itm binary
*.spl binary
*.cre binary
*.eff binary
*.pro binary
*.are binary
*.wed binary
*.wmp binary
*.sto binary
*.bcs binary
*.dlg binary

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
